<% for(var i = 0; i < citizens.length; i++) { %>
    <tr>
        <td><%= i + 1 %></td>
        <td><%= citizens[i].name %></td>
        <td><%= citizens[i].age %></td>
        <td><%= citizens[i].gouvernement %></td>
        <td><%= citizens[i].city %></td>
        <td><%= citizens[i].address %></td>
        <td><%= citizens[i].phone %></td>
    </tr>
<% } %>